//temporary styles while building out pages and components
//
//reusable for similar situations to faq field on toolsets
.views-title-link {
  margin-bottom: 1em;

  a {
    text-decoration: none;
    color: $gray-darker;

    &:hover {
      color: $color-link--hover;
    }
  }
}

//edit link on faq page views
//TODO: do this a better way -- quick fix for now
.view-page--faq {
  .edit-link {
    @include button-alt-teal;

    margin-top: 1em;
    display: none;
  }
}

.logged-in .view-page--faq {
  .edit-link {
    display: inline-block;
  }
}

//used in toolsets resources section
//TODO: make this reuasable or default h3
.h3--resources {
  text-transform: none;
  font-size: 1.4375rem;
  font-weight: 700;
}
