{% for item in items %}
  <dd id="sect{{ accordion_item_number }}" role="region" aria-labelledby="accordion{{ accordion_item_number }}id" class="Accordion-panel" hidden>
    <div>
      <p>{{ item.content }}</p>
    </div>
  </dd>
{% endfor %}
