# Ignore compiled files.
# dist -- commenting out for now
vendor
# build -- needed for pl-deploy

# Pattern Lab (ignored initially)
pattern-lab

# Twig helper functions -- commenting out for now
# **/add_attributes.function.php
# **/bem.function.php
# **/pl_attach-library.function.php

# NPM
node_modules
npm-debug.log

# Git deploy
.publish

#OS generated
.DS_Store

#ignore modules folder for now
modules

#Local Dev
.vscode
