{%
set classes = [
'field',
'field--name-' ~ field_name|clean_class,
'field--type-' ~ field_type|clean_class,
]
%}


<div{{ attributes.addClass(classes) }}>
  <h3 class="toolset-section_subhead">{{ label }}</h3>
  <div class="tile__grid tile__grid--toolset-featured-guides">
    {% block grid_content %}
      {% for item in items %}
        {% include "@molecules/tile/tile.twig" with {
          "tile_modifiers": ["grid-item"],
          "tile_title": item.content,
        } %}
      {% endfor %}
    {% endblock %}
  </div>
</div>
