{% extends "@organisms/tile-grid/tile-grid.twig" %}
{% set grid_base_class = grid_base_class|default('tile__grid tile__grid--guides') %}

{% block grid_header %}
  {% if pl %}
  <h3 class="h3 h3--resources">Featured Instructional Guides</h3>
  {% else %}
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level": 3,
      "heading": label,
      "heading_modifiers": ["resources"],
    } %}
  {% endif %}
{% endblock %}

{% block grid_content %}
  {% if pl %}
      <div class="tile tile--grid-item tile--guides">
        <a class="tile__link" href="#" hreflang="en">Getting Started with Mediasite</a>
      </div>
      <div class="tile tile--grid-item tile--guides">
        <a class="tile__link" href="#" hreflang="en">"Sharing" Mediasite Presentations</a>
      </div>
      <div class="tile tile--grid-item tile--guides">
        <a class="tile__link" href="#" hreflang="en">Analytics &amp; Reports in MyMediasite</a>
      </div>
      <div class="more-link">
        <a href="#">View all Instructional Guides</a>
      </div>

  {% else %}
    {% for item in items %}
      <div class="tile tile--grid-item tile--guides">{{ item.content }}</div>
    {% endfor %}
    <div class="more-link">
      <a href="{{ node_alias }}/guides">View all Instructional Guides</a>
    </div>
  {% endif %}
{% endblock %}
