{% extends "@organisms/tile-grid/tile-grid.twig" %}
{% set grid_base_class = grid_base_class|default('tile__grid tile__grid--guides') %}

{% block grid_header %}
  {% include "@atoms/02-text/00-headings/_heading.twig" with {
    "heading_level": 3,
    "heading": label,
    "heading_modifiers": ["resources"],
  } %}
{% endblock %}

{% block grid_content %}
  {% if pl %}
      <div class="tile tile--grid-item tile--guides">
        <a href="/toolsets/mediasite/guides/getting-started-mediasite" hreflang="en">Getting Started with Mediasite</a>
      </div>
      <div class="tile tile--grid-item tile--guides">
        <a href="/toolsets/mediasite/guides/sharing-mediasite-presentations" hreflang="en">"Sharing" Mediasite Presentations</a>
      </div>
      <div class="tile tile--grid-item tile--guides">
        <a href="/toolsets/mediasite/guides/analytics-reports-mymediasite" hreflang="en">Analytics &amp; Reports in MyMediasite</a>
      </div>
  {% else %}
    {% for item in items %}
      <div class="tile tile--grid-item tile--guides">{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% endblock %}
