{#
/**
 * @file
 * This file is for sample data and styling only.
 * Markup will be provided by CKEditor
 */
#}

{{ attach_library('wcm8_patterns/callout') }}

<div class="callout callout--{{ callout_type }}">
  {{ content }}
</div>
