@mixin callout($color: $gray) {
  border: 1px solid $color;
  border-radius: 6px;
  margin: 2em 0;
  padding: 1.25em 1em 0.25em 5.5em;
  position: relative;

  .icon {
    float: left;
    position: absolute;
    top: 1.375em;
    left: 1.25em;
  }

  .svg-inline--fa {
    font-size: 2.5rem;
    color: $color;
  }
}

.callout--caution {
  @include callout($orange);
}

.callout--ux-tip {
  @include callout($teal);
}
