{#
/**
 * @file
 * This file is for sample data and styling only.
 * Markup will be provided by CKEditor
 */
#}

{{ attach_library('wcm8_patterns/callout') }}

<div class="callout callout--caution">
  This is an example of a Caution callout. Please bookmark this catalog URL and also save the email for your records. You must have this URL in order to view the catalog and edit the catalog settings. You cannot retrieve this URL from your respective Mediasite portals.
</div>

<div class="callout callout--ux-tip">
  This is an example of a UX Tip callout. Before you distribute presentation recordings, be sure to <a href="https://resourcecenter.odee.osu.edu/mediasite/sharing-mediasite-presentations">change your presentation from Private to Viewable</a>. Otherwise, your viewers will receive an error message when they attempt to play the presentation.
</div>
