/// Link
@mixin link {
  color: $color-link;

  &:hover {
    color: $color-link--hover;
  }

  &:focus {
    outline: 2px dotted $color-link--hover;
    outline-offset: 2px;
  }
}

a,
.link {
  @include link;
}

span.ext {
  margin-left: 4px;
}

//fixes extlink buttons in Chrome
a.button {
  span.link-content {
    float: left;
  }
}
