.accordion-title {
  display: block;
  pointer-events: none;
}

.accordion-icon {
  position: absolute;
  left: 1em;
  top: 35%;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 8px solid $gray-dark;
  transform: rotate(0deg);
  transition-duration: 0.2s;
  pointer-events: none;
}

.accordion-trigger {
  background: $gray-lightest;
  font-family: $proxima;
  border: 0;
  color: $gray-dark;
  display: block;
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0.875em 2.75em 0.75em;
  position: relative;
  text-align: left;
  width: 100%;

  &:hover {
    background: $gray-lighter;
  }

  &:focus {
    outline: 2px dotted $teal;
    outline-offset: -1px;
  }
}

.accordion-trigger[aria-expanded="true"] {
  background: $gray-lightest;

  & .accordion-title {
    color: $gray-darker;
  }

  & .accordion-icon {
    transform: rotate(90deg);
    transition-duration: 0.25s;
  }
}

.accordion-panel {
  margin: 0;
  margin-bottom: 0.5em;
  margin-top: -0.625em;
  border: 1px solid $gray-lightest;
  color: $gray-darker;
  font-size: 1em;
  display: block;
  height: auto;
  max-height: 999px;
  transition: all 1s ease;
}

.accordion-panel[hidden] {
  opacity: 0;
  max-height: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-panel--inner {
  padding: 1.25em 3em 0.25em;
}

//customizations for faqs
.accordion-panel--inner h2 {
  font-size: 1.3rem;
  margin-top: 1.5em;
}

.accordion-panel--inner h2:first-child {
  margin-top: 0;
}
