.paragraph--text-with-image {
  img {
    width: 100%;
  }

  .image-position--left {
    float: left;
    margin-right: 1.5em;
  }

  .image-position--right {
    float: right;
    margin-left: 1.5em;
  }

  .image-size--half {
    width: 50%;
  }

  .image-size--third {
    width: 32.5%;
  }

  .image-size--quarter {
    width: 25%;
  }
}
