// These styles are specifically for Pattern Lab.
// They are not used by the site in any way.

.sg-main {
  @include wrapper;
}

.pl-template {
  display: flex;
  flex-flow: column nowrap;
}

.sg-pattern {
  padding-bottom: 1em;
}

.pl,
.sg-main {
  .sg-subtype {
    clear: both;

    h2 {
      font-size: 1.5rem;
      padding: 0.5em 0;
      text-transform: uppercase;
      background-color: $gray-dark;
      margin: 0 calc(-50vw + 50%) $space calc(-50vw + 50%);

      a {
        @include wrapper();

        display: block;
        color: $white;
        font-weight: 600;
        text-decoration: none;
        line-height: 1;
      }
    }
  }

  .sg-pattern-title {
    color: $gray-dark;
    font-size: 1.4rem !important;
    text-transform: none !important;

    a {
      color: $red !important;
      font-family: $proxima;
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase !important;

      &:hover {
        color: $teal !important;
      }
    }
  }

  .sg-pattern-extra.active {
    margin-bottom: 2em;
  }

  .sg-pattern-extra-info {
    width: 100%;
    color: $black;
    padding: 0.5em 1.25em;
  }

  .sg-pattern-extra-code {
    display: none;
  }

  .sg-pattern-desc h2 {
    margin-top: 0.5em;
  }

  .sg-colors {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      flex: auto;
      padding: 0.3em;
      margin: 0 0.3em 1em;
      min-width: 10em;
      max-width: 11em;
    }

    &__sample {
      display: block;
      height: 100px;
      margin-bottom: 0.3em;
      border: 1px solid $gray-lighter;
    }

    .sg-info {
      padding: 0.3em;
    }
  }
}

.sg-typography {
  display: flex;
  flex-wrap: wrap;

  .sg-typography__group {
    padding: 1em 0.25em;
    min-width: 40%;
  }
}
