.node-type-toolset {
  .main {
    margin-bottom: 0;
  }
}

.node--toolset {
  #basic-info {
    padding-bottom: 2em;
  }

  .field--name-field-toolset-summary,
  .field--name-field-toolset-description {
    margin-bottom: 1em;
  }
}

//make toolset-section field group backgrounds go full width
//wrappers are added via jquery
.toolset-section-wrapper {
  @include breakout;
}

.toolset-section {
  @include wrapper;
}

.toolset-section-wrapper--resources {
  background: $gray-lightest;
  padding-top: 1.25em;
  padding-bottom: 3em;
}

.toolset-section-wrapper--related-learning-topics {
  padding-top: 1.5em;
}
