.node-type-toolset {
  .main {
    margin-bottom: 0;
  }
}

.node--toolset {
  #basic-info {
    padding-bottom: $space;
  }

  .field--name-field-toolset-description {
    margin-bottom: $space;
  }
}

//make toolset-section field group backgrounds go full width
//wrappers are added via jquery
.toolset-section-wrapper {
  @include breakout(0);
}

.toolset-section {
  @include wrapper;
}

.toolset-section-wrapper--resources {
  background: $gray-lightest;
  padding-top: $space-one-eighth;
  padding-bottom: $space-one-half;
}

.toolset-section-wrapper--related-learning-topics {
  padding-top: $space-one-eighth;
}
