.book-navigation {
  .book-pager {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.5em 0;
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;

    a {
      text-decoration: none;
    }

    svg.icon {
      height: 1.25em;
      width: 1.25em;
    }
  }
}
