.book-navigation {
  margin-top: 2em;

  .book-navigation__tree {
    border-top: 1px solid $gray-lighter;

    ul {
      list-style: none;
      padding: 0;

      li {
        a {
          color: $gray;

          &:hover {
            color: $teal;
          }
        }
      }
    }
  }

  .book-pager {
    @include clearfix;

    list-style: none;
    padding: 0.5em 0;
    line-height: 1;
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;

    .book-pager__item {
      width: 45%;
      float: left;
    }

    .book-pager__item--up {
      width: 10%;
      text-align: center;
    }

    .book-pager__item--next {
      text-align: right;
      float: right;
    }

    .book-pager__link {
      color: $gray;
      text-decoration: none;

      &:hover {
        color: $teal;
      }
    }

    .book-pager__icon {
      font-size: 1.25em;
    }

    .book-pager__icon--prev {
      margin-right: 0.25em;
    }

    .book-pager__icon--up {
      font-size: 1.3125em;
    }

    .book-pager__icon--next {
      margin-left: 0.25em;
    }

    .book-pager__text {
      display: inline-block;
      position: relative;
      top: -1px;
      padding-top: 4px;
    }
  }
}
