<div class="book-navigation__tree">
  <ul>
    <li>
      <a href="#">Sample link 1</a>
    </li>
    <li>
      <a href="#">Sample link 2</a>
    </li>
    <li>
      <a href="#">Sample link 3</a>
    </li>
  </ul>
</div>
