.byline {
  font-size: 0.95rem;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.node--article .field--name-field-article-image {
  float: right;
  margin: 0 0 1em 1em;

  img {
    max-height: 16em;
    //TODO rethink this once image styles are configured on the sites
  }
}
