{%
set classes = [
'field',
'field--name-' ~ field_name|clean_class,
'field--type-' ~ field_type|clean_class,
]
%}

{% if pl %}
  <div class="field field--name-field-faqs field--type-viewsreference">

    <h3 class="h3 h3--resources field field--name-field-faqs field--type-viewsreference">
      FAQs
    </h3>

    <div class="field__item">
      <div class="views-element-container">
        <div class="js-view-dom-id-383025358094018bfb9d9090db4da5004d144789c7375977cbd4f446da920f70">

          <div class="views-title-link views-title-link--faq">
            <a href="/toolsets/mediasite/faqs#sect1">Chrome Views Missing in Analytics for Smooth Streaming</a>
          </div>
          <div class="views-title-link views-title-link--faq">
            <a href="/toolsets/mediasite/faqs#sect2">Connection is not secure error for Mediasite presentations</a>
          </div>
          <div class="views-title-link views-title-link--faq">
            <a href="/toolsets/mediasite/faqs#sect3">Mediasite Channels do not include a download option</a>
          </div>

          <div class="more-link">
            <a href="/toolsets/mediasite/faqs">View all FAQs</a>
          </div>

        </div>
      </div>
    </div>
  </div>

{% else %}
  <div{{ attributes.addClass(classes) }}>
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      "heading_level" : 3,
      "heading" : label,
      "heading_modifiers" : ["resources"]
    } %}

    {% if multiple %}
      <div class="field__items">
      {% endif %}
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
      {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
