<!-- sample content for pl only -->

<div id="related-learning-topics" class="toolset-section toolset-section--related-learning-topics">
  <h2>Related Learning Topics</h2>
  {% include "@drupal/fields/field-related-learning-topics/field-related-learning-topics.twig" %}
</div>
