<!-- sample content for pl -->

<div id="resources" class="toolset-section toolset-section--resources">
  <h2>Resources</h2>

  <div class="field field--name-field-toolset-featured-guides field--type-entity-reference">
    <div class="field__label">Featured Guides</div>
    <div class="field__items">
      <div class="field__item">
        <a href="/toolsets/mediasite/guides/getting-started-mediasite" hreflang="en">Getting Started with Mediasite</a>
      </div>
      <div class="field__item">
        <a href="/toolsets/mediasite/guides/sharing-mediasite-presentations" hreflang="en">"Sharing" Mediasite Presentations</a>
      </div>
      <div class="field__item">
        <a href="/toolsets/mediasite/guides/analytics-reports-mymediasite" hreflang="en">Analytics &amp; Reports in MyMediasite</a>
      </div>
    </div>
  </div>

  <div class="field field--name-field-faqs field--type-viewsreference field__item">
    <div class="viewsreference--view-title">
      FAQs
    </div>
    <div class="views-element-container">
      <div class="js-view-dom-id-6fc75b2ffdc892b74da6e73bb60891931b7bddfc884afdf0d1bf36aaa75ea73c">

        <div class="views-title-link views-title-link--faq">
          <a href="/toolsets/mediasite/faqs#sect1">Chrome Views Missing in Analytics for Smooth Streaming</a>
        </div>
        <div class="views-title-link views-title-link--faq">
          <a href="/toolsets/mediasite/faqs#sect2">Connection is not secure error for Mediasite presentations</a>
        </div>
        <div class="views-title-link views-title-link--faq">
          <a href="/toolsets/mediasite/faqs#sect3">Mediasite Channels do not include a download option</a>
        </div>

        <div class="more-link">
          <a href="/toolsets/mediasite/faqs">View all FAQs</a>
        </div>

      </div>
    </div>
  </div>

</div>
