<!-- sample content for pl only -->

<div id="resources" class="toolset-section toolset-section--resources">
  <h2>Resources</h2>
  {% include "@drupal/fields/field-toolset-featured-guides/field-toolset-featured-guides.twig" %}
  {% include "@drupal/fields/field-faqs-list/field-faqs-list.twig" %}
</div>
