{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}

{# regions in this array will not get a "region-inner" div #}
{% set no_inner = ['content', 'sidebar'] %}

{% set region_base_class = '' ~ region %}

{% if content %}
  <div {{ bem('region', [region_base_class]) }} >
    {% if region in no_inner %}
      {{ content }}
    {% else %}
      <div {{ bem('region-inner', [region_base_class]) }} >
        {{ content }}
      </div>
    {% endif %}
  </div>
{% endif %}