.tile {
  background: $gray-lightest;
  border-radius: 6px;
  text-align: center;

  &:hover {
    background: lighten($gray-lightest, 3%);
  }
}

.tile__link {
  display: block;
  padding: 1.75em;
  color: $gray-darker;
  text-decoration: none;

  &:hover {
    color: $gray-darkest;
  }
}

.tile__title {
  @include heading-large($font-size: 1.75rem);
  @include short-bottom;
}

.tile__subtitle {
  @extend .tagline;

  font-weight: 100;
  font-size: 1.0625rem;
  line-height: 1.4;
}

.tile__grid--toolsets {
  .tile__subtitle {
    @include no-bottom;
  }
}
