//faq field on toolsets
.field--name-field-faqs {
  margin-top: 2em;

  .viewsreference--view-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  .more-link {
    margin-top: 1em;
  }
}
